{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
	<p>This room was once undoubtedly a ballroom. Moonlight falls in from the row of lavish arched windows, and shines on the marble floor panels. There is not a lot of furniture, and the vast and empty space makes a cold impression. </p>
	<p>There is a small stage near the entrance. You can see a grand piano with broken case and missing strings and a tall harp. 
		<button id="harp string" name="harp string" class="text_buttons">Strings</button> of the harp are loose.</p>
	<p>
	You step away from the stage. You take care not to make too much noise, but your footsteps still echo in the empty chamber, bouncing from the high ceiling as you walk across. Somethingc crushes under your foot.
	 You look down to see <button id="broken wineglass" name="broken wineglass" class="text_buttons">broken wineglass</button>.</p>
		

		<p align="center"><a href=/hall ><button class="small_buttons">Go to Hall</button></a></p>
		<p align="center"><a href=/fight ><button class="small_buttons">test_fight</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

