<!doctype html>
<html>

<head>

    
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	
</head>
<body>

	<div class="wrapper">
		<div class="header_box">    
			<p style="margin: 2em;font-size: 30px;">Let's slay some monsters!</p>
		</div>
		<div class="background_box"> 
		</div> 
		<div class="top_left_box"> 
		
			{% block content2%}
			{% endblock %}
		</div> 
		<div class="bottom_left_box"> 
			{% block content3 %}
			{% endblock %}
		</div>
		<div class="center_box"> 
			{% block content4 %}
			{% endblock %}
		</div>

	</div>
</body>
</html>