{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		You enter a small room and a strong musty smell hits you. You have discovered a bathroom. </p>
		<p>A big and tarnished copper bath takes up almost half the space. There is some very murky water inside it. It seems to be the source of the smell. 
			The porcelain toilet in the corner is dry and surprisingly clean. </p>
		<p>
A few pieces of bent copper pipes lead from the bath towards the wall. You can see a part of this installation, where two pieces of <button id="copper pipe"  class="text_buttons">pipe</button> are barely held together by a rusty clamp. 
There is a dark, moldy spot on the floor right under it.</p>
<p>
There is also a porcelain sink next to a wall. The faucet is made from some metal that still has a bit of shine to it, but the sink itself is filled with shiny shards. 
It looks like there was a mirror above it, that had completely crumbled into <button id="shards of mirror"  class="text_buttons">pieces</button> some time ago.


</p>
	
	

		<p align="center"><a href=/masterbedroom ><button class="small_buttons">Go to Master Bedroom</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

