{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p>You enter a dark room with walls covered in worn out maroon fabric. The central space is occupied by a large table of dark, polished wood. You can see a set of eleven chairs of similar material, and a few pieces of carved wood that must have been the twelfth, lying in the corner.
		</p>
		<p>	There is a crystal salt cellar on the table, with a pinch of <button id="salt" name="salt" class="text_buttons">salt</button> still inside it. 
			You walk closer and lean over the table to look at it, and you hear a metallic cling on the floor. 
			As you look down, you notice a <button id="silver fork" name="silver fork" class="text_buttons">silver fork</button> that you have kicked under one of the chairs.
			

		<p align="center"><a href=/kitchen ><button class="small_buttons">Go to Kitchen</button></a></p>
		<p align="center"><a href=/hall ><button class="small_buttons">Go to the Hall</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

