{% extends "story_template.html" %}
{% block title %}Adventure begins!{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p style="font-size: 17px;">Hello, adventuter {{hero.name}}! Let's enter the haunted mansion...<br><br>
		You climb the weathered stone stairs, towards the great, oaken door.</p>
	
		

		<p align="center"><a href=/hall ><button class="small_buttons">Open the door</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
    </div>
{% endblock %}
