{% extends "story_template.html" %}
{% block title %}Fight!{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p >
			The door opens slowly... <br>Before it is fully ajar, a sudden movement catches your attention. <br>You turn that way, and can now see a {{monster}}, ready to jump at you!
			 <br><br>
		Quick! Pick a weapon! <br>

		{% for x in hero.items %}
		<button id="pick_weapon" name="{{x}}" class="small_text_buttons">{{x}}</button> 

			{% endfor %}
		
	 </p> 
		<p id="fight"></p><br>

        <p id="comeback" style="visibility: hidden;" align="center"><a href="/{{room}}"><button class="big_buttons" style="width: 40%;">Come back to {{room}} </button></a></p>
		<p id="dead_comeback" style="visibility: hidden;" align="center"><a href="/"><button class="big_buttons" style="width: 40%;">Try again... </button></a></p>
	</div>


	<script type="text/javascript">
        var weapon_chosen = Boolean(false);
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
                    if (weapon_chosen)
                        return;
                    button.style.color = "red";
                    weapon_chosen = Boolean(true);
					const request = new XMLHttpRequest();
					request.open('POST', `/${button.id}`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						var response = request.responseText;
                        
						document.getElementById('fight').innerHTML = response;
                        
                        if (response.endsWith("DEAD"))
                            document.getElementById("dead_comeback").style.visibility = "visible";
                        else
                            document.getElementById("comeback").style.visibility = "visible";
                        
					}; 
					request.send(button.name);
					
				};
			});
		});
	</script>

<!-- skrypt do wyświetlania każdego ataku osobno

<script type="text/javascript">  
	var content = document.getElementById("fight_by_line");
	content.style.display="none";
	setTimeout(function(){
	  content.style.display="block";
	}, 500);
  </script>
-->

{% endblock %}

