{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		This was undoubtedly a little girl’s room. The walls are pink, as well as the carpet and the bed cover. Over the bed hangs 
		a light canopy made from white lace. </p>
		<p>In the middle of the room stands a small wooden <button id="wooden horse" name="" class="text_buttons">rocking horse</button>, with tail and mane made from realistically looking hair. 
		It’s painted eyes have visible whites, which makes it look slightly panicked. </p>
		<p>There is a wonderful dollhouse in the corner, so big a child could actually stand inside it. 
		All the furniture in the dollhouse was painted pink. In the pink armchairs inside a pink living room, holding tiny pink porcelain tea cups in their white porcelain 
		hands sit three large <button id="porcelain doll" name="" class="text_buttons">dolls</button>. </p>
		<p>Big eyes painted on their white porcelain faces seem to be looking straight at you.</p>
		
		
		
		
		

        <p align="center"><a href=/nursery ><button class="small_buttons">Go to Nursery</button></a></p>
		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

