{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		You find a small bedroom. Everything about its arrangement seems rather generic and impersonal, and you gather that it was a spare bedroom, rarely occupied. </p>
		<p>
		There is a beige wallpaper with flowery pattern on the walls. The bed covers are also beige, with a few decorative <button id="pillow" name="" class="text_buttons">pillows</button> embroidered in silver roses. </p>
		<p>
		A solid looking dresser is the only other piece of furniture. You take a few steps towards it. All the drawers have already been pulled out and you can now 
		see they are empty. One of the <button id="wooden knob" name="" class="text_buttons">knobs</button> fell out, and is lying on the floor.
	</p>
	
		
		
		


		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

