{% extends "story_template.html" %}
{% block title %}The Hall{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p >You are in the hall. There is a grand staircase in front of you, and doors to other rooms on your sides.<br>
		Right next to the door, there is an umbrella stand with <button id="pick_item" name="broken umbrella" class="text_buttons">broken umbrella</button> in it.</p>

		<p> And pieces of <button id="pick_item" name="thin stick" class="text_buttons">thin stick</button></p>

		<p align="center"><a href=/library ><button class="small_buttons">Go to Library</button></a></p>
		<p align="center"><a href=/ballroom ><button class="small_buttons">Go to Ballroom</button></a></p>
		<p align="center"><a href=/kitchen ><button class="small_buttons">Go to Kitchen</button></a></p>
		<p align="center"><a href=/diningroom ><button class="small_buttons">Go to Dining Room</button></a></p>
		<p align="center"><a href=/livingroom ><button class="small_buttons">Go to Living Room</button></a></p>
		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>

		<p align="center"><a href=/fight ><button class="small_buttons">test_fight</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/${button.id}`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.name);
					
				};
			});
		});
	</script>

{% endblock %}

