{% extends "story_template.html" %}
{% block title %}The Hall{% endblock %}

{% block content5 %}
	<div class="main-text">

		<p>You enter the hall. It is dark, spacious and windy. </p>
		<p >Your steps echo on the stone floor, as you take a few steps towards the center of the room.</p>
		<p >The balustrade of the massive, decorative stairway cracks in the draft. Some of the balusters have broken, and fallen <button id="pick_item" name="wooden rod" class="text_buttons">wooden rods</button> lay on the floor. To your right there is an old umbrella stand, 
			with a <button id="pick_item" name="broken umbrella" class="text_buttons">broken umbrella</button> in it.</p>
		<p >The walls are decorated with torn wallpaper with flowery pattern. There are two sets of splendid carved doors on each wall, and a more narrow, plain door partially obscured by the great staircase.</p>

		<div style="text-align:center;">
		<table style="width:100%; text-align:center;">
			<tr>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td> <!-- there is probably a better way to do it, but whatever-->
				<td><a href=/library ><button class="small_buttons">First door on the left</button></a></td>
				<td><a href=/livingroom ><button class="small_buttons">First door on the right</button></a></td>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
			</tr>
			<tr>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				<td><a href=/ballroom ><button class="small_buttons">Second door on the left</button></a></td>
				<td><a href=/diningroom ><button class="small_buttons">Second door on the right</button></a></td>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
			</tr>
			<tr>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				<td><a href=/kitchen ><button class="small_buttons">Door behind the staircase</button></a></td>
				<td><a href=/upstairscorridor ><button class="small_buttons">Climb the staircase</button></a></td>
				<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
			</tr>
		  </table> 
		</div>
		
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
		
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/${button.id}`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.name);
					
				};
			});
		});
	</script>

{% endblock %}

