{% extends "base.html" %}
{% block title %}Create Adventurer{% endblock %}
{% block content4 %}


<div class="glassy-text">
	<form action="/story/" method = "POST">
		<fieldset>
			<legend style="font-size: 27px;"> Name your adventurer</legend>
			<input type = "text" name = "Name" value={{hero.name}}>
		</fieldset>
		<fieldset>
			<legend style="font-size: 27px;">Roll for your character points</legend>
			<button class="small_buttons"  name='name' value="Roll the dice!">Roll the dice!</button>
			<br>
			<p> {{hero.stat_points}}  <!-- --><!-- should only display after buton click-->
			<br>
		</fieldset>
		<fieldset>
			<legend style="font-size: 27px;">Distribute your character points over five aspects of your character</legend>

			<label for="str">Brawn:</label>
			<label id="str">{{hero.stats.strength}}</label>
			<button class="square_buttons" name='name' value="str_plus">+</button>
			<button class="square_buttons" name='name' value="str_minus">-</button> <br>

			<label for="dex">Finesse:</label>
			<label id="dex">{{hero.stats.dexterity}}</label>
			<button class="square_buttons" name='name' value="dex_plus">+</button>
			<button class="square_buttons" name='name' value="dex_minus">-</button> <br>

			<label for="con">Resolve:</label>
			<label id="con">{{hero.stats.constitution}}</label>
			<button class="square_buttons" name='name' value="con_plus">+</button>
			<button class="square_buttons" name='name' value="con_minus">-</button> <br>

			<label for="wis">Wits:</label>
			<label id="wis">{{hero.stats.wisdom}}</label>
			<button class="square_buttons" name='name' value="wis_plus">+</button>
			<button class="square_buttons" name='name' value="wis_minus">-</button> <br>

			<label for="cha">Panache:</label>
			<label id="cha">{{hero.stats.charisma}}</label>
			<button class="square_buttons" name='name' value="cha_plus">+</button>
			<button class="square_buttons" name='name' value="cha_minus">-</button> <br>

			</table>
		</fieldset>
		<p align="center"><input  class="big_buttons" type = "submit" name='name' value="Let's go!"/></p>
	</form>
</div>
	
{% endblock %}


