{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">

		<p>The next room is a library. Three walls are entirely covered with tall bookshelves. The fourth wall contains a large window that was broken many years ago. <button id="shards of glass" name="shards of glass" class="text_buttons">Shards of glass</button> cover the floor. </p>

		<p >A few armchairs, a small table and a writing desk are fitted with dark green leather, now stained and cracked from the rain and wind.</p>

		<p >
			You walk towards one of the bookshelves. All the books on the shelves were bound in brown leather, embossed with gold inscriptions. They look beautiful, but when you inspect one of them, you can see it was ruined as well. The pages are moist and slick and you can sense a weak smell of rot and decay. </p>

		<p >On the table lies an equally shabby looking <button id="old book" name="old book" class="text_buttons">book in a dark red leather cover</button>.
		</p>



		

		<p align="center"><a href=/hall ><button class="small_buttons">Go to Hall</button></a></p>
		<p align="center"><a href=/fight ><button class="small_buttons">test_fight</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

