{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p>You enter a smaller, cozier looking room. There is a large fireplace on the wall, with a broad mantelpiece above. You can see a number of small <button id="figurine" name="figurine" class="text_buttons">figurines</button> on the mantelpiece, mostly depictions of shepherds and shepherdesses is pastel clothes. 
		</p>
		<p>In front of the fireplace there is a small cluster of comfortable looking - if rather worn out - armchairs made from a light grey wood and upholstered with deep blue fabric. </p>
		<p>Next to the window there is a big secretary made of the same wood, much worse for wear. All the drawers have been pulled out and emptied. One of the carved, bent <button id="aspen-wood stake" name="aspen-wood stake" class="text_buttons">legs</button> is broken, lying on the floor next to it. 
				

		<p align="center"><a href=/hall ><button class="small_buttons">Go to Hall</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

