{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		Well, it is a living room...there is
		<button id="aspen-wood stake" name="aspen-wood stake" class="text_buttons">aspen-wood stake</button> and</p>
		<button id="plant pot" name="plant pot" class="text_buttons">plant pot</button> in it.</p>

		

		<p align="center"><a href=/hall ><button class="small_buttons">Go to Hall</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

