{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		This must have been a master bedroom. The room is very big, but still the large four-poster bed takes up almost a third of the space. 
		The coverings are made from velvet and embroidered with golden thread, and the walls are covered in similar gold fabric. </p>
		<p>The velvet had collected a lot of dust, 
		and what must have been a bright and luxurious room in the days of its glory, is now very dark.</p>
		<p> Close to the big, but equally dimmed and dusty window there 
		is a small vanity table with a carved, filigree chair. A silvery <button id="" name="" class="text_buttons">silk robe</button> is thrown across the chair.</p>
		<p>
On the windowsill you can see a few <button id="vase" name="" class="text_buttons">vases</button> of different sizes, with dried out plants in them.

</p>


		
		
		

		<p align="center"><a href=/bathroom ><button class="small_buttons">Go to Bathroom</button></a></p>
        <p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

