{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		You see a small bedroom with a narrow bed. On the nightstand next to it, lies a very old <button id="pacifier" name="" class="text_buttons">pacifier</button>. </p>
		<p>In the corner stands a small table with two chairs. 
		There is a <button id="small painting" name="" class="text_buttons">small painting</button> on the wall. It’s a pretty, if rather boring, landscape. </p>
		<p>All the furniture in this room is made from plain, light wood that looks cheaper, 
		and is slightly more worn out than what you have seen in other rooms. The bed is covered with a simple brown wool blanket.</p>
		
		
		
		
		

        <p align="center"><a href=/nursery ><button class="small_buttons">Go to Nursery</button></a></p>
		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

