{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		The next room must have been a nursery. Its windows are dusty, but enough moonlight falls in to give you a good look. </p>
		<p>
		The wallpaper is pastel blue with white bunnies. The floor is completely covered with a carpet. It was probably white or cream in the day, but now it’s mostly grey, 
		with a number of colorful stains all over it. It is slightly sticky. </p>
		<p>By the window stands a large, wooden crib, with a number of white <button id="little blanket" name="" class="text_buttons">blankets</button> folded neatly inside.
		 On top of the blankets sits a little <button id="stuffed bunny" name="" class="text_buttons">stuffed bunny</button> with one of its ears frayed. </p>
		 <p>There is also a large dresser with a few pieces of children's clothing inside. </p>
		 <p>
		 In the corner stands a big armchair in light blue color. Another once-white bunny sits in the chair. It seems absurdly big - it’s probably taller than you. 
		 It has only one eye made of a big black button.
		</p>
		
		
		
		
		
		
        <p align="center"><a href=/girlroom ><button class="small_buttons">Go to Girl Room</button></a></p>
		<p align="center"><a href=/nannyroom ><button class="small_buttons">Go to Nanny Room</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

