{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		You open the door and find a tiny closet. Inside you can see a wonderful 
		collection of luxurious gentlemen's accessories - a number of hats of various models and sizes, a few sets of silken gloves and a number of canes 
		of different materials and shapes.</p>
		<p>After a closer look you notice that they seem to be in an even worse state than the generall disrepair and untidiness of the house. 
		The gloves are all full of holes and rather dirty, the <button id="frayed hat" name="" class="text_buttons">hats</button> have frays and broken brims and the canes are splintered and broken. </p>
		<p>It takes you a moment to find a thick 
			<button id="solid cane" name="" class="text_buttons">cane</button> painted in black and with silver trims that seems to be in a relatively good state.</p>
		
		
		
		
		

		<p align="center"><a href=/studyroom ><button class="small_buttons">Go to Study Room</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

