{% extends "base.html" %}
{% block title %}Adventure begins!{% endblock %}

{% block content2 %}
	<div class="glassy-text">
			<p style="font-size: 15px;">Inventory:<br>
			<p>{% for x in inventory %}
				{{x}}<br>
			 {% endfor %}</p>
			</p>
    </div>
{% endblock %}

{% block content3 %}
	<div class="glassy-text">
			<p style="font-size: 18px;">Adventurer </p>
			<p style="font-size: 20px;text-transform: uppercase;">{{hero.name}} ! <br></p>
			<p style="font-size: 15px;">HP:{{hero.HP}} <br></p>
			 <table style="width:100%">
				  <tr>
					<td>STR:{{ hero.stats.strength }}</td>
					<td>CON:{{ hero.stats.constitution }}</td>
				  </tr>
				  <tr>
					<td>DEX:{{ hero.stats.dexterity }}</td>
					<td>WIS:{{ hero.stats.wisdom }}</td>
				  </tr>
				  <tr>
					<td>CHA:{{ hero.stats.charisma }}</td>
				  </tr>
				</table> 
    </div>
{% endblock %}

{% block content4 %}
	<div class="main-text">
		<p style="font-size: 18px;">Hello, adventuter {{name}}! Let's enter the haunted mansion...<br><br>
		You climb the weathered stone stairs, towards the great, oaken <button class="text_buttons">door</button>.</p>
		<p align="center"><a href=story ><button class="small_buttons">Open the door</button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Go back</button></a></p>
    </div>
{% endblock %}
