{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
	<p>You enter a room that must have been a study. Along the wall covered with green wallpaper, there is a long glass showcase with empty shelves.</p>
	<p>
The center of the room is occupied by a very large desk made from mahogany wood and covered in green leather. You can see a <button id="quill" class="text_buttons">quill</button> and a small bottle of completely dried out ink. 
You go through the drawers of the desk. They are unlocked, but all you can find is a <button id="handkerchief" class="text_buttons">handkerchief</button> with embroidered monogram. </p>
<p>
Behind the desk there is another empty bookcase and another, smaller door right next to it. Both are made from the same mahogany wood as the desk.
 
</p>
<p>	
	

        <p align="center"><a href=/smallcloset ><button class="small_buttons">Go to Small Closet</button></a></p>
		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

