{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		You enter a small and dark room. There is no window, and you can barely make out the shapes with the dim light coming from the corridor. </p>
		<p>
		It seems to be a small washroom. There is a short table near the opposite wall, with an earthenware bowl and a <button id="caved jug" name="" class="text_buttons">caved jug</button>. 
		Under it there are some pieces of <button id="thin sticks" name="" class="text_buttons">broken wood</button> that might have been a stool. You can't really see much else.</p>
		

		
		

		<p align="center"><a href=/upstairscorridor ><button class="small_buttons">Go to Upstairs Corridor</button></a></p>
		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

