{% extends "story_template.html" %}
{% block title %}Room{% endblock %}

{% block content5 %}
	<div class="main-text">
		
		<p>You are now in the gallery above the stairs. Wooden floor creaks under your footsteps. Part of the floor is covered in a 
			very worn out <button id="rolled carpet" name="" class="text_buttons">carpet</button>. 
			As you step on it, particles of dust are soaring into the air. </p>
			<p>They shine in the moonlight coming from a row of windows, and swirl in the gusts of wind. 
			The draft you felt at the bottom of the stairs is even stronger here, and you now notice some of the window panels lack the glass. </p>
			<p>More glass lies on the floor, 
			as well as the wood <button id="thin planks" name="" class="text_buttons">planks</button> that divided the panels in one of the windows.</p>
			<p>
			The corridor leads to many rooms. You can see three doors on one side of the galery and three more doors on the other.
			</p>
			
			<div style="text-align:center;">
				<table style="width:100%; text-align:center;">
					<tr>
						<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				<td><a href=/nannyroom ><button class="small_buttons">First door on the left</button></a></td>
						<td><a href=/guestroom ><button class="small_buttons">First door on the right</button></a></td>
						<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				
					</tr>
					<tr><td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				
						<td><a href=/tinywashroom ><button class="small_buttons">Second door on the left</button></a></td>
						<td><a href=/studyroom ><button class="small_buttons">Second door on the right</button></a></td>
						<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
					</tr>
					<tr><td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
				
						<td><a href=/girlroom ><button class="small_buttons">Third door on the left</button></a></td>
						<td><a href=/masterbedroom ><button class="small_buttons">Third door on the right</button></a></td>
						<td><p><button class="fake_buttons">line_holderline_holderline_holder</button></p></td>
					</tr>
				  </table> 
				</div>

		
		<p align="center"><a href=/hall ><button class="small_buttons">Go down the stairs</button></a></p>


		<p align="right"><a href="/"><button class="back_buttons">Go back</button></a></p>
	
	</div>


	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('button').forEach(button => {
				button.onclick = () => {
					const request = new XMLHttpRequest();
					request.open('POST', `/pick_item`);
					request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
					request.onload = () => {
						const response = request.responseText;
						document.getElementById('items').innerHTML = response;
					}; 
					request.send(button.id);
					
				};
			});
		});
	</script>

{% endblock %}

