{% extends "story_template.html" %}
{% block title %}You won!{% endblock %}

{% block content5 %}
	<div class="main-text">
		<p >You feel the dark aura of the haunted mansion lifted. You have slain the last monster and the house is safe again<br>
		Congratulations, {{hero.name}}. What do you want to do now?</p>

		

		<p align="center"><a href="/{{room}}"><button class="small_buttons" >Keep exploring </button></a></p>
		<p align="center"><a href="/"><button class="small_buttons">Leave the house</button></a></p>
	</div>

{% endblock %}

